In [12]:
import pandas as pd
from sklearn.linear_model import LinearRegression

df = pd.read_csv("./township land.csv")
newdf = pd.get_dummies(df.town)
newdf

                                town  area    price
0   Monroe                  township  2600  5500001
1                    Monroe township  3000  5650001
2                    Monroe township  3200  6100001
3                    Monroe township  3600   680000
4                    Monroe township  4000  7250001
5                       West Windsor  2600   585000
6                       West Windsor  2800  6150001
7                       West Windsor  3300   650000
8                       West Windsor  3600  7100001
9                       Robbinsville  2600  5750001
10                      Robbinsville  2900   600000
11                      Robbinsville  3100   620000
12                      Robbinsville  3600   695000

,Monroe township,Monroe township,Robbinsville,West Windsor
0,True,False,False,False
1,False,True,False,False
2,False,True,False,False
3,False,True,False,False
4,False,True,False,False
5,False,False,False,True
6,False,False,False,True
7,False,False,False,True
8,False,False,False,True
9,False,False,True,False
10,False,False,True,False
11,False,False,True,False
12,False,False,True,False