In [19]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("titanic.csv")
print(df)
encoder = LabelEncoder()

target = df.Survived
train = df.drop("Survived", axis = "columns")
train.Age.fillna(int(df.Age.mean()), inplace = True)

train["Sex"] = encoder.fit_transform(train["Sex"])

mapping_table = pd.DataFrame({
    'Comapny Data': df["Sex"],
    'Encoded Data': encoder.fit_transform(train["Sex"])
})

model = DecisionTreeClassifier()
model.fit(train, target)
train
model.predict([[3, 0, 22, 45]])

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

C:\Users\prith\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [21]:
df1 = df[df.Survived == 0]
df2 = df[df.Survived == 1]
import matplotlib.pyplot as

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
4           0       3    male  35.0   8.0500
5           0       3    male   NaN   8.4583
6           0       1    male  54.0  51.8625
7           0       3    male   2.0  21.0750
..        ...     ...     ...   ...      ...
884         0       3    male  25.0   7.0500
885         0       3  female  39.0  29.1250
886         0       2    male  27.0  13.0000
888         0       3  female   NaN  23.4500
890         0       3    male  32.0   7.7500

[549 rows x 5 columns]